<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPathC:\Program Files (x86)\apache-tomcat-8.5.47\bin\startup.bat" 
                  arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwroot\app.jar&quot;">
      <environmentVariables>
        <environmentVariable name="JRE_HOME" value="C:\Program Files\Java\zulu11.35.15-jre11.0.5-win_x64" />
        <environmentVariable name="CATALINA_OPTS" value="-Dport.http=%HTTP_PLATFORM_PORT% -Dsomeotherconfig=value"/>
        <environmentVariable name="CATALINA_HOME" value="C:\Program Files (x86)\apache-tomcat-8.5.47" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>